body {
    overflow-x: hidden;
    height: 100%;
    background-color: #16161e;
}

#page-body { padding-bottom: 10%; }

.about-list { 
    display: flex; justify-content: center; align-items: center;
}

#user-img { 
    display: flex; justify-content: center; align-items: center;
}

#user-img > img {
    width: 50%;
    margin: 30px;
    transition: .2s ease;
}

.about-list {
    display: flex; justify-content: center; flex-wrap: wrap;
}

.fa-twitter, .fa-twitch {
    color: white;
    margin: 15px 5px 0px 5px;
}

.fa-twitch:hover, .fa-twitter:hover {
    color: #e2b64e;
}

#user-socials {
    min-height: 30px;
}