#page-body { 
    width: 100vw;
    position: absolute;

    display: flex; justify-content: center; align-items: center; flex-direction: column;
}

#card-icon {
    font-size: 50px;
    margin-bottom: 20px;
}

#card-btn {
    display: flex; justify-content: center; align-items: center;
    width: 150px; height: 30px;
    background-color: #e2bb5e;
    color: white;
    border: none; border-radius: 5px;
}

#apply-whitelist {
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    width: 60%;
    background-color: #1f222b;
    padding: 50px;
    border: none; border-radius: 10px;
}

#apply-police, #apply-ems, #apply-staff, #apply-dev {
    margin: 50px 20px 0px 20px;
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    width: 50%;
    background-color: #1f222b;
    padding: 50px;
    border: none; border-radius: 10px;
}

#app-group {
    display: flex; justify-content: center; align-items: center;
}

.apply-btn {
    width: 30px; height: 30px;
    color: white;
    background: #e2bb5e;
    border: none; border-radius: 3px;
    transition: .2s ease;
}

.apply-btn:hover {
    background: transparent;
    border: 1px solid #e2bb5e;
    width: 100px;
}
